@using vizeadmin.Models.Entity;
@model List<idari>
@{
    ViewBag.Title = "idari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>

        <th>İdarecenin Adı</th>
        <th>İdarecenin Soyadı</th>
        <th>İdarecenin Giriş Tarihi</th>




    </tr>
    <tbody>
        @foreach (var ogr in Model)
        {
            <tr>
                <td>@ogr.idari_ad</td>
                <td>@ogr.idari_soyad</td>
                <td>@ogr.idari_tarih    </td>


                <td>
                    <a href="~/login/Sil/@ogr.idari_id" class="btn btn-danger">Sil</a>
                    <a href="~/Ogrenci/OgrenciGetir/@ogr.idari_id" class="btn btn-success">Guncelle</a>
                </td>

            </tr>
        }
    </tbody>
</table>



